.home{
    width: 100vw;
    padding: 1em;
    display: flex;
    column-gap: 1em;
    justify-content: center;
}
.home .card{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 0.9em;
    align-items: center;
    padding: 1em;
}
.home .card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.home .card i{
    font-size: 7em;
    color: var(--blue);
}
.home .card h2{
    font-size: 2em;
    color: var(--blue);
}
.home .card p{
    width: 100%;
    padding: 1em 1em;
    text-align: center;
}
.home .card button{
    width: 50%;
    height: 75px;
    border: 1px solid var(--blue);
    border-radius: 10px;
    font-size: 1.4em;
}