header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    background-color:var(--blue);
    color: #eef1f7;
    align-items: center;
    justify-content: center;
}
header .header-container{
    width: 1024px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    
@media screen and (max-width: 1024px) {
    header .header-container{
        margin: 0 1em;
    }
    
}
header .header-container .logo{
    font-size: 1.2em;
    font-weight: bold;
}
header .header-container nav{
    list-style: none;
    display: flex;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
}
header .header-container nav a{
    text-decoration: none;
    color: #eef1f7;
}
header .header-container nav a:hover{
    text-decoration: underline;
}